body{
  background: var(--bg3)
}
:root{
  --bg1: #3A0751;
  --bg2: #F2C85B;
  --bg3: #394f6b;
  --bg4: #9b59b6;
}
*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;

/*}
.container{
  width: 350px;
  height: 450px;
  border-radius: 10px;
  background: linear-gradient(var(--bg1),var(--bg2));
}*/
.container{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: linear-gradient(var(--bg1),var(--bg2));
  transition: 0.3s;
  overflow: hidden;
  position: relative;
}
.container:hover{
  width: 350px;
  height: 450px;
  border-radius: 10px;
  background: linear-gradient(var(--bg1),var(--bg2));
}
.container img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #a1a1a1;
  margin: 20px auto;
  cursor: pointer;
  transition: 0.3s;
} 
.container img:active{
  width: 350px;
  height: 450px;
  margin: 0;
  border: 5px solid #ffffff;
  border-radius: 10px;
}
/*.container img{
  width: 350px;
  height: 450px;
  margin: 0;
  border: 5px solid #a1a1a1;
  border-radius: 10px;
}*/
.container h2{
  color: white;
}
.container p{
  color: #fff;
  margin: 0 30px 12px;
}
.icon-social{
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translateX(-60px);
  opacity: 0;
  transition: 0.5s;
  top: 12px;
  transition-delay: 0.3s;
}

.btn-container{
  display: flex;
  justify-content: space-between;
  margin: 0 30px 12px;
}
.btn-container button{
  height: 35px;
  width: 150px;
  border: none;
  margin-right: 12px;
  border-radius: 5px;
  columns: #333333;
  cursor: pointer;
}
.container:hover .icon-social{
  transform: translateX(0px);
  opacity: 1;
}
.icon-social i{
  padding: 12px;
  color: var(--bg4);
  background: #FFF;
  border-radius: 50%;
  margin: 5px 0 12px;
  cursor: pointer;
  transition: 0.3s;
}
.icon-social i:hover{
  transform: scale(0.95);
}
.btn-container{
text-align: center;
}